/**
 * HealthIO - style
 *
 * Color palette
 * #3BAFDA
 * #403F4C
 * #E84855
 * #F9DC5C
 * #EFBCD5
 */


.visible-lg.visible-md,
.visible-md,
.visible-lg {
    display: none !important;
}

.visible-sm {
    display: block !important;
}

@media only screen and (max-width: 479px) {
    .pull-right {
        width: auto;
        margin: auto;
        text-align: left; 
    }
}


/* Update grid system in mobile */
@media only screen and (max-width: 40em) {
    
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    
    .col-xs-12,
    .col-lg-12 {
        padding-left: 0;
        padding-right: 0;
    }

}


/* General styles */
/* Normlaize font-size */
body {
    font-size: 16px !important;
    background-color: #f0f0f0;
    color: #333;
}

a {
    color: #4fc1e9;
}

a:hover, a:focus, a:visited {
    color: #3bafda;
}

h1, h2, h3 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

form {
    display: block;
    margin: 0;
}

hr {
    display: none;
}


/* Update forms */
.btn {
    border-radius: .5rem;
}

.btn-inverse {
    background-color: #3bafda;
    color: white;
}

.form-control {
    background-color: #f0f0f0;
    color: #333;
}

.form-control[readonly], 
fieldset[readonly], 
textarea[readonly] {
    opacity: .7;
    background-color: #f0f0f0;
    color: #333;
}


/* Avoid loading background image */
.body-landing {
    background-image: none;
    background-color: #fff;
}

/* Landing page, remove spaces */
.body-landing .floating-desktop, 
.body-landing .floating-mobile {
    padding: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.container #content {
    width: 100%;
}

.body-landing .floating-mobile {
    margin: 0;
}

.body-landing .floating-desktop, 
.body-landing .floating-mobile {
    padding: .5rem;
}


/* For ipad, make column layout */
.body-landing [class^="col"] {
    float: none;
    width: 100%;
    border: none !important;
}

.body-landing #content {
    margin: auto;
    text-align: center;
}

.body-landing .form-group > div {
    margin: 0 !important;
    width: 100% !important;
}


/* Update style to buttons */
.body-landing .floating-mobile .btn {
    margin: 0 0 1rem 0;
}



/* To set the footer at the end of the page */
.body-landing .floating-mobile .padding-top-60 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 0;
    line-height: 2;
    background: #555;
    color: white;
}

.body-landing .floating-desktop {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    max-width: none;    
    box-shadow: none !important;
    transform: none;
    -webkit-transform: none;
}

/* Header */
.inh_nomargin-top {
    margin: 0 !important;
    padding: 0;
    background: #4fc1e9;
    color: white;
    overflow: hidden;
}

.inh_nomargin-top img {
    float: left;
}

.inh_nomargin-top p {
    font-size: 3.5rem;
    vertical-align: middle;
    margin-top: 4rem;
    text-align: left;
    margin-left: 11rem;
    font-weight: 300;
}


/* Sign up page */
#content {
    padding: 0 !important;
}

.navbar-toggle {
    top: 1rem;
    right: 1rem;    
    width: 4rem;
    height: 4rem;
    background: #2a7038 !important;
    margin: 0;
    border-radius: 100%;
    text-align: center;
}

.navbar-nav.pull-right {
    width: 100%;
}

.navbar-toggle .icon-bar {
    height: 1px;
    margin: auto;
    width: 88%;
}

#sidebar-left {
    background-color: #3bafda;
    position: fixed;
    left: -100%;
    width: 100%;
    top: 0;
    z-index: 50000;
    bottom: 0;    
}

footer {
    background-color: transparent;
}

#sidebar-left a {
    position: relative;
    display: block;
    border-bottom: 1px dotted #ccc;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 2rem;
    margin: .5rem 0;
    border-radius: .75rem;
    overflow: hidden;
    background: #f0f0f0;
    color: black;
}

#sidebar-left .text-muted {
    color: white;
}

#sidebar-left a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1.15rem;
    background-color: crimson;
}

#sidebar-left br {
    display: none;
}

.cr-navbar .navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    height: auto;
}

.navbar {
    margin: 0 !important;
    padding: 0;
    background-color: #333 !important;
}


/* map */
#map {
    margin: 0;
}

#map + .thumbnail {
    padding: 0;
}



/* Table */
table.table tr {
    display: block;
}

table.table td,
table.table th {
    display: block;
}

table.table td {

}

table.table th {

}


/* Report page */
.reportrange {
    margin: 0;
}

.cr-navbar .navbar-brand img {
    margin: 0 auto;
    height: 5rem;
    position: absolute;
    z-index: 50;
    right: 4rem;
    top: 0.2rem;
}


/* Content */
.box:only-child {
    margin: 0 !important;
}

.box .box-content {
    padding: 0;
}

/* headers */
.box .box-header {
    background: #F9DC5C;
    color: #665;
}

.box .box-header h2 i {
    background-color: transparent;
}

.box .box-header .box-icon {
    background: transparent;
    position: absolute;
    top: 0;
    right: 4rem;
    font-size: 1rem;
}

.box .box-header .box-icon .btn {
    background-color: transparent;
}

.box .box-header .box-icon i {
    background-color: transparent;
    border: none;
    padding: 0;
    vertical-align: middle;
    line-height: 4rem;
    float: none;
    display: block;
    width: auto;
}

.box .box-header .box-icon .btn-minimize {
    display: none;
}

.box .box-header .box-icon a span {
    display: none;
}

.box .box-header {
    padding: 0 1rem;
}

.box .box-header h2 {
    float: none;
    padding: 0;
    margin: 0;
    line-height: 2;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.box .box-header h2 i {
    background-color: transparent;
    vertical-align: middle;
    padding: 0;
    width: auto;
    margin: 0;
    float: right;
    line-height: 1.5;
    font-size: 2rem;
}

/* headers */
.nav-tabs {
    border: none;
    margin: 1rem 0 0 0 !important;
    background: #f3f3f3;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    border: none;
}

.box-content .nav-tabs {
    background-color: #403F4C;
    font-size: 1rem;
}


#content .container .row > .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}

.reportrange {
    left: 0 !important;
}

.header-nav {
    background-color: #3bafda !important;
}

#reportrange {
    margin: 0;
    background-color: #3bafda;
    left: auto;
}

.header-nav a.btn.account {
    padding: 0 !important;
}

.header-nav .user .hello,
.header-nav .user .name {
    display: inline;
}

.nav.navbar-nav.pull-right {
    margin: 0;
}

.header-nav .avatar {
    display: none;
}

.header-nav .user {
    display: inline-block;
    margin-top: 0;
    padding: 0px;
    line-height: 2.5;
}

.navbar-nav.pull-right .dropdown:first-child {
    width: 4.5rem;
    border-right: 1px solid white;
    margin-right: 1rem;
}

.header-nav a.btn:focus,
.header-nav a.btn:hover {
    background-color: transparent !important;
    box-shadow: none !important;
}

#search-extendible {
    margin: 0;
}

.navbar .search-open {
    position: fixed;
    left: 4.5rem;
    right: 0;
    top: 8rem;
    margin: 0;
    text-align: left;
    padding: .5rem;
    z-index: 500;
    padding: 0;
    background: transparent;
}

.navbar .search-open form {
    display: block !important;
}

#search-extendible input {
    width: 100%;
    padding: 10px 8px;
}


/* Custom forms */
.form-horizontal .form-group {
    margin: 0 0 1rem 0 !important;
}

.report-data-view label.control-label,
.form-horizontal .form-group label {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 0;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: monospace;
    width: auto;
    text-align: left;
}

.report-data-view div.controls {
    display: block;
    width: auto;
}

.report-data-view div.controls input.form-control {
    margin: 0;
}

.report-data-view label.control-label i,
.form-horizontal .form-group label i {
    float: right;
}

.btn-primary.btn-lg.btn-block[type="submit"] {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1rem;
    display: block;
    width: 90%;
    margin: auto;
}

.insert-template {
    min-height: 100vh;
}

.report-data-view div.form-group {
    margin: 0 0 1rem 0;
    padding: 0 1rem;
}


/* Filter */
.daterangepicker.opensleft .ranges {
    float: none;
    margin: 0;
    padding: 1rem;
    width: auto;
}

.daterangepicker.opensleft .btn {
    float: right;
    margin-bottom: 0;
}

.daterangepicker.opensleft .btn:last-child {
    margin-right: 1rem;
}

.daterangepicker.dropdown-menu {
    max-width: none;
    width: auto;
    left: 1rem !important;
    right: 1rem !important;
}

.daterangepicker_start_input,
.daterangepicker_end_input {
    display: inline-block;
    float: none !important;
    vertical-align: top;
    width: 49%;
}


/* Shame */
.tab-menu.nav-tabs + .row.margin-top-20 {
    margin: 0 !important;
    padding: 1rem;
}

.margin-top-20 {
    margin-top: 0;
}


.tab-menu.nav-tabs + .row.margin-top-20 .pull-right,
.tab-menu.nav-tabs + .row.margin-top-20 .pull-left,
.tab-menu.nav-tabs + .row.margin-top-20 .pull-right .label,
.tab-menu.nav-tabs + .row.margin-top-20 .pull-left .label {
    margin: 0 0 .33rem 0 !important;
    display: block;
    text-align: left;
    float: none !important;
    font-size: 1rem;
    line-height: 1.5;
}

.tab-menu.nav-tabs + .row.margin-top-20 + .row h1 {
    display: none;
}

a.pull-right {
    display: block;
    margin: 0 1rem .3rem 1rem !important;
    width: auto;
    float: none !important;
}

a.pull-right .btn {
    width: 100%;
    text-align: left;
}